* {
    margin: 0px;
    padding: 0px;
}

html, body{
    color: #1F2421;
    font-size: 100%;
    font-family: "Sohne VF", "Open Sans", Arial, Helvetica, sans-serif;
}

body{
    background-color: #ebeeee;
    margin: 0px;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

p, li {
    font-size: 1rem;
    max-width: 45rem;
    line-height: 1.5rem;
    font-weight: 400;
}

li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

header {
    margin-top: 2rem;
}

nav {
    margin: 1.5rem;

}

nav ul li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    text-align: center;
}

#nav a {
    color: #FFFFFF;
    text-decoration: none;
}

#nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

#nav a:hover {
    color: #23C386;
}

#nav a:active {
    text-decoration: underline;
}

.button {
    background-color: #23C386;
    border: none;
    border-radius: 1.5rem;
    color: #ebeeee;
    padding: .6rem ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 8rem;
    
    transition: 0.5s;
}

.button:hover {
    cursor: pointer;
    background-color: #499F68;
}

.dark-blue-background {
    background-color: #1a333f;
}

.white-background {
    background-color: #ebeeee;
}

.white-text {
    color: #ebeeee;
}

.title-margin-01 {
    margin: 0rem 0rem 1rem 0rem;
}

.paragraph-width-small {
    max-width: 25rem;
}

.center-text {
    text-align: center;
}

.margin-bottom-small {
    margin-bottom: 1.5rem;
}

.top-banner {
    background-color: #011528;
    color: #ebeeee;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-banner {
    display: flex;
    flex-direction: row;
}

.flex-col-center {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link-container {
    margin: 0.5rem;
}

.nav-margin {
    margin: 0.5rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.ec-logo-nav-container {
    margin-right: 0.5rem;
}

.ec-logo {
    width: 3rem;
    height: 3.5rem;
    transition: 0.6s ease-in-out;
}

.ec-logo:hover {
    transform: rotate(360deg);
}

.logo-title {
    font-size: 1.5rem;
}

.flex-banner-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30rem;
    flex-grow: 3;
}

.banner-description-container {
    max-width: 25rem;
    width: 100%;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;
}

.banner-description-paragraph {
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.15rem;
}

.sandbox-pic-container {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 3;
}

.sandbox-svg {
    transform: skewY(5deg) rotateZ(2deg);
    max-width: 100%;
    position: relative;
    top: 2.5rem;
    right: 0.5rem;
}

.ec-features-container {
    background-color: #ebeeee;
    color: #1F2421;
    padding: 5rem 2rem 2rem 2rem;
}

.ec-features-description {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 1.15rem;
}

.ec-features-horizontal-scroll-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ec-features-horizontal-scroll-mask-left {
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #ebeeee 30%, rgba(255, 255, 255, 0));
    height: 100%;
    width: 2.5rem;
    position: absolute;
    z-index: 1;
}

.ec-features-horizontal-scroll-mask-right {
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, #ebeeee 30%, rgba(255, 255, 255, 0));
    height: 100%;
    width: 2.5rem;
    position: absolute;
    z-index: 1;
}

.ec-features-horizontal-scroll {
    position: relative;
    width: 90rem;
    height: 5rem;
    margin: 0 0 0.5rem 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.ec-features-horizontal-scroll-flex {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.horizontal-scroll-right-animation {
    animation-name: horizontal-scroll-right;
    animation-duration: 30s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scroll-left-animation {
    animation-name: horizontal-scroll-left;
    animation-duration: 30s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes horizontal-scroll-right {
    from{ transform: translateX(0rem) }
    to{ transform: translateX(100%) }
}

@keyframes horizontal-scroll-left {
    from{ transform: translateX(100%) }
    to{ transform: translateX(0rem) }
}

.ec-features-horizontal-scroll-flex-item {
    /*margin: 1rem;
    width: 8rem;*/
    flex-grow: 1;
    flex-shrink: 1;
    /*flex-basis: 12rem;*/
    min-width: 10rem;
    margin: 1rem;
}

.scroll-flex-item-text {
    filter: grayscale(100%) brightness(0%); 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0.8;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

.ec-features-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.ec-features-grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex: 1 1 30%;*/
    padding: 1.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: box-shadow .5s;
    max-width: 20rem;
    text-align: center;
    /*border-radius: 4px;*/
}

.ec-features-grid-box:hover {
    cursor: pointer;
    box-shadow: 0 0 2rem -0.5rem rgb(0 0 0 / 50%);
}

.ec-features-icon {
    width: 3rem;
    height: 3rem;
    /*color: #23C386;*/
    filter: invert(51%) sepia(89%) saturate(383%) hue-rotate(105deg) brightness(105%) contrast(87%);
}

.success-stories-wrapper {
    background-color: #ebeeee;
    color: #1F2421;
    padding: 4rem 2rem 4rem 2rem;
}

.success-story-container {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    transition: opacity 0.5s ease-in-out;
}

.success-stories-buttons-container {
    display: flex;
    justify-content: center;
}

.success-stories-button {
    background-color: #23C386;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.success-stories-button:hover{
    cursor: pointer;
}

.coding-exercise-wrapper {
    background-color: #011528;
    color: #ebeeee;
    padding: 4rem 2rem 4rem 2rem;
}

.coding-exercise-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coding-exercise-description {
    margin-right: 2rem;
}

.coding-exercise-environment {
    max-width: 55rem;
    height: 45rem;
    flex-grow: 2;
}

.coding-exercise-environment iframe {
    width: 100%;
    height: 100%;
}

.coding-exercise-description-example {
    background-color: #1a333f;
    padding: 1rem;
    border-radius: 0.5rem;
}

.coding-solution-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coding-solution-overview {
    margin-bottom: 4rem; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 1.15rem;
}

.coding-solution-description {
    max-width: 35rem;
    height: auto;
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: #1a333f;
}

.registration-container {
    background-color: #ebeeee;
    color: #1F2421;
    padding: 4rem 2rem 4rem 2rem;
}

.registration-description {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 1.15rem; 
    margin-bottom: 3rem;
}

.registration-flex-row {
    display: flex;
    justify-content: space-between;
}

.registration-column {
    max-width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}

.form-control {
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 0.4rem;
    height: 3.375rem;
    background: #FFFFFF;
    width: 100%;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    margin-top: 1rem;
    font-size: 1rem;
}

.registration-submit-button {
    height: 3.25rem;

    background-color: #23C386;
    border: none;
    border-radius: 0.25rem;
    color: #ebeeee;
    padding: .6rem ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 8rem;
    margin-left: 2rem;

    transition: 0.25s;
}

.registration-submit-button:hover {
    cursor: pointer;
    background-color: #499F68;
}

form {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

#registrationValidationOutput {
    color: #FF0000;
    margin-left: auto; 
    margin-right: auto; 
    font-size: 1.15rem; 
    margin-top: 2rem;
}

.resources-container {
    background-color: #ebeeee;
    color: #1F2421;
    padding: 4rem 2rem 4rem 2rem;
}

.resources-ordered-list {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 1.15rem; 
    max-width: 50rem;
}

ol li{
    max-width: 50rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 2.25rem;
    }

    .coding-exercise-flex-container {
        flex-direction: column;
        justify-content: center;
    }

    .coding-exercise-description {
        min-width: 95%;
        margin-bottom: 3rem;
    }

    .coding-exercise-environment {
        min-width: 95%;
    }

    .coding-solution-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .coding-solution-description {
        min-width: 95%;
        margin-bottom: 1rem;
    }

    .coding-solution-description p {
        width: 100%;
        max-width: 100%;
    }

    .coding-solution-container iframe {
        align-self: center;
        width: 420px;
        height: 260px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.25rem;
    }

    .flex-row-banner {
        justify-content: center;
        align-items: center;
    }

    .banner-description-container {
        margin: 0rem;
    }

    .sandbox-pic-container {
        display: none;
    }

    .coding-solution-container iframe {
        align-self: center;
        width: 340px;
        height: 210px;
    }

    .registration-container {
        padding: 2rem 0.5rem 2rem 0.5rem;
    }

    .registration-flex-row {
        flex-direction: column;
        align-items: center;
    }

    .registration-column {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .form-control {
        width: 25rem;
    }

    .registration-submit-button {
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 580px) {
    .ec-logo {
        width: 2.15rem;
        height: 2.5rem;
    }

    .flex-col-center {
        height: 2.5rem;
    }

    .nav-flex-row {
        flex-direction: column;
        align-items: center;
    }

    .form-control {
        width: 20rem;
    }
}
